<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nishant.mcoe.bmfinder" >
    <uses-sdk
        android:targetSdkVersion="21"
        android:minSdkVersion="16"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/bmflauncher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"
            android:label="@string/activity_home"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity"/>
        </activity>
        <activity android:name=".AboutActivity"
            android:label="@string/activity_about"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity"/>
        </activity>
        <activity android:name=".LoginActivity"
            android:label="@string/activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity android:name=".RegisterActivity"
            android:label="@string/activity_register"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity android:name=".BookSearchActivity"
            android:label="@string/activity_BookSearch"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity"/>
        </activity>
        <activity android:name=".DetailBookActivity"
            android:label="@string/activity_BookSearchDetail"
            android:parentActivityName=".BookSearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BookSearchActivity"/>
        </activity>
        <activity android:name=".MovieSearchActivity"
            android:label="@string/activity_BookSearchDetail"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity"/>
        </activity>
        <activity android:name=".DetailMovieActivity"
            android:label="@string/activity_BookSearchDetail"
            android:parentActivityName=".MovieSearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MovieSearchActivity"/>
        </activity>
    </application>

</manifest>
